{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Edit entry:</h2>
{% endblock header %}

{% block content %}
  <p><a href="{% url 'topic' topic.id %}">{{ topic }}</a></p>
  <form action="{% url 'edit_entry' entry.id %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name="submit" class="btn btn-primary">Save changes</button>
    {% endbuttons %}
  </form>
{% endblock content %}