{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Add a new entry:</h2>
{% endblock header %}

{% block content %}
  <p><a href="{% url 'topic' topic.id %}">{{ topic }}</a></p>
  <form action="{% url 'new_entry' topic.id %}" method='post'
    class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">add entry</button>
    {% endbuttons %}
  </form>
{% endblock content %}