{% extends "learning_logs/base.html" %}

{% block header %}
  <h1>Topics</h1>
{% endblock header %}

{% block content %}

<ul>
  {% for topic in topics %}
    <li>
      <h3>
        <a href="{% url 'topic' topic.id %}">{{ topic }}</a>
      </h3>
      <h6> owner: {{ topic.owner}} </h6>
    </li>

  {% empty %}
    <li>No topics have been added yet.</li>
  {% endfor %}
</ul>
<h3><a href="{% url 'new_topic' %}">Add new topic</h3>
{% endblock content %}