{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block content %}
  <form method="post" action="{% url 'register' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <button name="submit" class="btn btn-primary">register</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'index' %}" />
  </form>
{% endblock content %}